.btns {
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
     color: white
    }

